body{
    background-color: lightgrey;
}

/* frame */
section{
    /* background-color: white; */
    border: 1px solid grey;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;

    z-index: 0;

    background-image: url(./ref.png);
    opacity: 0.5;
    background-size: cover;
}

section::before{
    content: " ";
    z-index: 1;
    background-color: red;
    width: 10px;
    height: 10px;
    position: relative;
    top: 0;
    bottom: 0;
}

*{
    /* background-color: lightgray;
    width: 10px;
    height: 10px; */

    border-radius: 10px;
}

/*  ===  */

#table-line{
    position: relative;
    top: 450px;
    border: 1px solid black;
    z-index: -9000;
}

.kettle{
    position: relative;
    width: 300px;

    top: 60px;
    left: 40px;
}

#black-cap{
    border-bottom: 45px solid black;
	border-left: 12.5px solid transparent;
	border-right: 12.5px solid transparent;
	height: 0;
	width: 40px;

    position: relative;
    top: 25px;
    left: 85px;

    transform: rotate(180deg) scaleX(-1);
}

/* spout */
#black-cap::after{
    content: ' ';
}

/* rounded lid */
#red-kettle::before{
    content: ' ';
    display: block;
    background-color: pink;
    height: 40px;
    width:  250px;
    position: relative;
    border-radius: 10px;

    top: 200px;
    left: 0px;
}

/* kettle body */
#red-kettle{
    transform: rotate(180deg) scaleX(-1);
    border-bottom: 200px solid red;
	border-left: 12.5px solid transparent;
	border-right: 12.5px solid transparent;
	height: 0;
	width: 250px;
    position: relative;
    border-radius: 10px;

    top: 65px;
    left: 0px;

}

/* kettle base */
#red-kettle::after{
    content: ' ';
    display: block;
    background-color: pink;
    height: 50px;
    width:  220px;
    position: relative;
    border-radius: 10px;

    top: -90px;
    left: 15px;
}

#silver-base{
    content: ' ';
    border-bottom: 200px solid lightgray;
	border-left: 12.5px solid transparent;
	border-right: 12.5px solid transparent;

    /* height: 150px; */
    width:  250px;
    position: relative;

    top: 100px;
    left: 0px;
    z-index: 0;
}


.mug-stack{
    position: relative;
    top:0px;
    left: 20px;
}

/* white mug body */
#stripped-mug{
    content: ' ';
    position: relative;
    background-color: white;
    height: 115px;
    width: 130px;

    top: -75px;
    left: 265px;
}

/* white round handle */
#stripped-mug::before{
    content: " ";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 15px solid white;
    width: 75px;
    height: 60px;
    left: 50%;
    margin-left: -115px;
    top: 25px;
    border-top-left-radius: 7em;
    border-top-right-radius: 7em;

    transform: rotate(-90deg) scaleX(-1);
}

/* mug base */
#stripped-mug::after{
    content: ' ';
    display: block;
    position: relative;
    background-color: white;
    height: 25px;
    width: 110px;
    border-radius: 10px;
    top: 5px;
    left: 10px;
    z-index: -10;
}


/* blue stripes */
#mug-flag{
    height : 100px;
    width  : 120px;
    border-radius: 0px;
    left: 10px;
    top: 5px;
    position: relative;
    background: linear-gradient(to bottom, 
        blue    0%, blue  20%, 
        white   0%, white 40%,        
        blue    0%, blue  60%, 
        white   0%, white 80%,        
        blue 0%);
}

/* red triangle */
#mug-flag::before{
    width: 0;
    height: 0;
    display: block;
    content: ' ';
    border-left: 60px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

#mug-flag p{
    color: white;
    position: relative;
    font-size: 25px;
    top: -95px;
    left: 5px;
}




#coffee-jar{
    background-color: yellow;
}


