<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a
      href="https://armann-systems.com/kontakt/"
      class="navigation-links1-link"
    >
      <span>Kontakt</span>
    </a>
    <a href="https://iwanttools.com/#tools" class="navigation-links1-link1">
      <span>Tools</span>
    </a>
    <a
      href="https://iwanttools.com/#pricing"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link2"
    >
      <span>Pricing</span>
    </a>
  </nav>
</div>
