@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(27, 66%, 92%);
}


.smallcontainer{
  background-color: hsl(10, 79%, 65%);
}

h1, h2, h3{
  color:  hsl(25, 47%, 15%);
}
span{
  color:  hsl(28, 10%, 53%);
}

canvas:hover{
  cursor: pointer;
}

.fontthin{
  font-weight: 100;
}