body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* === START BUTTON === */ 
.button-container {
    padding-left: 15%;
    padding-right: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.button-container button {
    width: 20%;
    height: 6vh;
    font-weight: 900;
    font-size: 15px;
    border-radius: 15px;
}

button:disabled {
    background-color: #aa5959;
    border-color: #aa5959;
    color: lightgrey;
}

button:enabled {
    background-color: red;
    border-color: red;
    color: white;
}


/* === DISPLAY CONTENT === */
.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-area, .paste-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display-area {
    width: 95%;
}

/* === DISPLAY WORDS === */
.display {
    position: relative;

    width: 25%;
    height: 10vh;
    margin: 5% 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.display p {
    color: red;
}

/* === PASTE AREA === */
#meaning, #phrase, #script {
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 900;
}

label {
    padding-left: 15%;
}

#paste-meaning, #paste-phrase, #paste-script {
    width: 95%;
    height: 100%;
    border-width: 2px;
    padding: 5%;
    margin-top: 5%;
}


/* === ANIMATIONS === */
.display p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.display p.load {
    opacity: 1;
}


/* === CUSTOM SLIDER === */
  
.range-wrap, .range-wrap2 {
    position: relative;
}

.range, .range2 {
    width: 100%;
}

.bubble, .bubble2 {
    background: rgb(38, 117, 221);
    color: white;
    padding: 4px 4px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
}

.bubble::after, .bubble2::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: lightblue;
    top: 39px;
    left: 50%;
}

/* === ACCODION === */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    margin-top: 3%;
    margin-left: 1.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .active, .accordion:hover, button.accordion p:hover, .banner div p:hover {
    color: rgb(209 82 82);
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    color: red;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* icons */

  button.accordion:after {
    /* content: 'EXPAND \02795'; Unicode character for "plus" sign (+) */
    content: 'EXPAND +';  
    font-size: large;
    color: red;
    float: right;
    margin-left: 5px;
  }
  
  button.active:after {
    /* content: "COLLAPSE \2796"; Unicode character for "minus" sign (-) */
    content: "COLLAPSE -";  
    color: red;
  }

  .accordion p {
    margin: 0;
  }

  .panel div{
    display: flex;
    flex-direction: column;
    /* color: red; */
  }

  button.accordion, .banner div p{
    background-color: rgb(255, 201, 195);
    color: red;
    font-weight: bold;
    font-size: large;
  }

  /* button.accordion p:hover, .banner div p:hover {
    color: black;
  } */

  .banner{
    background-color: rgb(255, 201, 195);
    color: red;
    width: 100%;
    margin-top: 3%;
    margin-left: 1.5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .banner div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .banner div p, .banner div button{
    width: 13vw;
    margin: 0;
    cursor: pointer;
  }
  .banner h3{

    margin-left: 20px;

  }

/* control button contianer */
.mode-container{
    display: flex;
    justify-content: space-between;
}

#score{
    color: red;
    font-weight: 900;
    font-size: 1.5rem;
}

#score::before{
    content: " Score: ";
}

#status{
    display: none;
    font-size:20px;
    transform: scale(2);
    position: absolute;
    top: 25px;
    left: -60px;
}

 
.shortcuts{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

#icon{
    display: none;
    transform: scale(2);
    top: 0px;
    z-index: 2;
    left: -55px;
    position: absolute;
    opacity: 1;

    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    -ms-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

#speech-text{
    margin-left: -20px;
    width: 200px;
    position: absolute;
}



.timer {
    background: -webkit-linear-gradient(left, skyBlue 50%, #eee 50%);
    border-radius: 100%;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    position: relative;
    animation: time calc(var(--duration) * 1s) steps(1000, start) infinite;
    mask: radial-gradient(transparent 50%,#000 50%);
      /* mask: radial-gradient(transparent 50%,#000 50%); */
    z-index: 1;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    animation: mask calc(var(--duration) * 1s) steps(500, start) infinite;
    transform-origin: 100% 50%;
}
@keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes mask {
    0% {
        background: #eee;
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: #eee;
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: skyBlue;
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: skyBlue;
        -webkit-transform: rotate(-180deg);
    }
}