<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Template</title>
</head>

<!-- css styles -->
<style type="text/css">
 
    #promptBox {
        margin: 0 auto;
        width: 80vh;
        height: 20vh;
        border: thin solid black;
        border-radius: 30px;
        text-align: center;
        margin-top: 5vh;
    }

</style>

<!-- body of html display on page -->

<body>


    <!-- div id to style  -->
    <div id="promptBox">
        <p>prompt result displayed below</p>
        <!-- div id to grab in javascript -->
        <h2 id="promptResult"></h2> 
    </div>
 

</body>

<!-- javascript external file -->
<script src="index.js"></script>
 

</html>