/* 

======================================

    overview / homepage styles
          ( <main> )

======================================

*/

/* === BODY === */
main {
    width: 70%;
    margin: auto;
    margin-bottom: 10vh;
}

.app-icon {
    border-color: var(--gray3);
    border-radius: 20%;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    margin-top: 5vh;
}

.app-name {
    text-align: center;
}

.app-subtitle {
    text-align: center;
}

/* === PREEVIEW SCREENSHOT === */
.preview {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.bezel {
    position: relative;
    width: 50%;
}

.app-screenshot {
    position: absolute;
    z-index: -1;
    width: 31%;
}

/* === ARTICLES === */
 
/* TABLET AND DESKTOP  */
 @media screen and  (min-width: 600px){
    section{
        display: flex;
        flex-wrap: wrap;
        column-gap: 10%;
    }
    article{
        flex: 0 0 45%; /* two columns */
        
    }
 }




/* === FAQ === */
.faqs-accordion {
    margin-left: -20px;
    width: 110%;
    border-radius: 15px;
    background-color: white;
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 15px;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.panel { 
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    border-radius: 15px;
}
