/*! CSS Used from: Embedded ; media=all */
@media all {

    /*! @import https://www.banquelaurentienne.ca/css/home_v4.css */
    BODY {
        font-family: HelveticaNowText-Regular, Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #242024;
        margin: 0px;
        background-color: #efefef;
        padding: 0px;
        text-align: center;
    }
 

    A:link,
    A:visited {
        color: #004370;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px #004370 solid;
    }

    A:link[href='#'],
    A:visited[href='#'],
    A:hover[href='#'] {
        cursor: default;
    }

    A:hover {
        border-bottom: 2px #e00d40 solid;
        color: #e00d40;
    }

    ul.menu.lang li.active {
        color: #e00d40;
    }

    A:link,
    A:visited,
    A:hover {
        outline: none;
    }

    DIV.page {
        background-color: white;
        margin: 0px auto;
        /* text-align: left; */
    }

    DIV.centSoixanteQuinze {
        width: 140px;
        height: 57px;
        float: right;
        margin-right: 20px;
        cursor: pointer;
        display: none;
    }

    DIV.mCentSoixanteQuinze {
        display: none;
    }

    html[lang='en'] DIV.centSoixanteQuinze {
        background: url('https://www.banquelaurentienne.ca/en/images/175YearsStrong_banner_133x57.jpg') 0px 0px no-repeat white;
    }

    /* embedded youtube player */
    .container {
        /* position: fixed; */
        top: (100% - 30%) / 2;
        left: (100% - 30%) / 2;
        right: (100% - 30%) / 2;
        bottom: (100% - 30%) / 2;
        }
    
        .video-fg {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }
        .video-fg iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    DIV#header,
    DIV#footer {
        padding: 30px;
    }

    DIV#body>DIV {
        width: 100%;
        min-height: 100px;
        border: 0px black solid;
        box-sizing: border-box;
        color: #004370;
        line-height: 24px;
        height: 70vh;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    a#ffwd {
        display: block;
        overflow: hidden;
        height: 0px;
        text-align: center;
        padding: 0px;
        background-color: #004370;
        color: white;
        border: none;
    }

    a#ffwd:focus {
        height: 1%;
        padding: 0.5rem;
        overflow: visible;
    }

    DIV#body>DIV a{
        font-size: x-large;
        color: #004370;
        background-color: transparent;
        border: solid medium #004370;
        padding: 15px;
        display: inline-block;
        cursor: pointer;
    }
    DIV#body>DIV.job-container a{
        font-size: x-large;
        color: white;
        background-color: transparent;
        border: solid medium white;
        padding: 15px;
        display: inline-block;
        cursor: pointer;
    }

    DIV#body>DIV#intro {
        background-color: #ffac00;
        padding: 15% 10% 10% 10%;
    }
    DIV#body>DIV#intro a{
        margin-top: 5%;
    }

    DIV#body>DIV#join {
        background-color: white;
        padding: 15% 20% 0% 20%;
    }

    DIV#body>DIV.job-container>DIV.row{
        height: 80vh;
        width: 100%;
     }
 
     DIV#body>DIV>DIV>DIV h3,p {
        margin: 20% 15% 0% 15%;

    }
     DIV#body>DIV>DIV>DIV h3 {
        font-size: 50px;

    }
   
    DIV#body>DIV>DIV>DIV#left-job-desc {
        font-size: x-large;    
        background-color: white;
        width: 50%;
        display: inline-block;
    }

    DIV#body>DIV>DIV>DIV#right-job-desc {
        font-size: x-large;
        width: 50%;
        height: 100%;
        float: right;
    }

    DIV#body>DIV>DIV>DIV.job-img {
        display: flex; 
        justify-content: center; 
        align-items: center

    }
    DIV#body>DIV>DIV>DIV#left-job-img {
        background-color: #004370;
        width: 50%;
        height: 100%;
        
        /* background: url("/assets/business-woman-at-work-as-advisor-in-office-financial-consultant-with-client-health-in-SBI-337358596.jpg"); */
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        display: inline-flex;
        justify-content: center; 
        align-items: center

    }

    DIV#body>DIV>DIV>DIV#right-job-img {
        background-color: #004370;
        width: 50%;
        height: 100%;
        float: right;
        background: cover;
        /* background: url("/assets/image-of-two-young-businessmen-discussing-new-project-in-office-SBI-300726620.jpg"); */
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }

    DIV#body>DIV>DIV>DIV.one {
        background: url("/assets/image-of-two-young-businessmen-discussing-new-project-in-office-SBI-300726620.jpg");
    }
    DIV#body>DIV>DIV>DIV.two {
        background: url("/assets/business-woman-at-work-as-advisor-in-office-financial-consultant-with-client-health-in-SBI-337358596.jpg");
    }
    DIV#body>DIV>DIV>DIV.three {
        background: url("assets/two-monitors-of-computers-with-charts-and-graphs-in-office-SBI-302894579.jpg");
    }

    DIV#body>DIV#socials {
        display: inline-block;
        background-color: #ffac00;
        height: 30vh;
    }
    DIV#body>DIV#socials>DIV a{
        margin-top: 8%;
        margin-left: 3%;   
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
   
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }


    /* navbar menu */

    DIV#header DIV.menus {
        display: inline-block;
        width: 819px;
    }

    .logo {
        width: 140px;
        height: 50px;
        display: inline-block;
    }

    html[lang="en"] .logo {
        background: url("https://www.banquelaurentienne.ca/en/images/logo_blcgf.png") 0 0/140px no-repeat;
    }

    UL.menu {
        margin: 0px;
        padding: 0px;
    }

    DIV#header UL.menu {
        display: inline-block;
        height: 50px;
    }

    UL.menu li {
        display: block;
        margin: 0px;
        float: left;
        padding-left: 1em;
        padding-top: 15px;
    }

    UL.menu.lang {
        margin: 0px;
        padding: 0px;
        display: block;
        height: 50px;
        float: right;
    }

    UL.menu.lang li:first-child:after {
        content: '|';
        width: 1em;
        height: 1em;
        padding: 0px 5px;
        margin-top: -2px;
        color: #004370;
        font-weight: bold;
    }

    UL.menu.lang li {
        padding: 15px 0px;
        color: #004370;
        text-transform: uppercase;
    }

    UL.menu.lang li.active {
        font-weight: bold;
    }

    DIV.menu.burger {
        display: none;
    }

    ul.menu li.parent a:hover+ul {
        display: block;
    }

    li.parent>a:after {
        content: ' \25bc';
    }

    ul.menu ul:hover {
        display: block;
    }

    ul.menu ul {
        position: fixed;
        padding-left: 0px;
        display: none;
        background-color: white;
        padding-bottom: 1em;
        margin-left: -1em;
        margin-top: 4px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        ul.menu ul {
            margin-top: 0px;
        }
    }

    ul.menu ul li {
        display: block;
        float: none;
        width: 300px;
        margin-left: 0px;
    }

    ul.menu ul li a:link,
    ul.menu ul li a:visited,
    ul.menu ul li a:hover {
        border-bottom: none;
    }

    /* footer menu */
    
    DIV#footer {
        clear: both;
        background-color: #004370;
        min-height: 250px;
        color: white;
    }

    DIV#footer DIV#ttl {
        border-bottom: 3px white solid;
        padding-bottom: 10px;
        color: #ffbb15;
        font-weight: bold;
        margin-bottom: 1em;
    }

    DIV#footer UL.menu {
        display: block;
        float: right;
        width: 105px;
        font-size: 12px;
    }

    DIV#footer UL.menu.legal {
        padding-top: 20px;
        clear: both;
        float: none;
        margin-left: 0px;
        width: 600px;
        margin: auto;

    }

    DIV#footer UL.menu.legal LI {
        display: inline-block;
        padding-right: 10px;
    }

    DIV#footer UL.menu LI {
        display: list-item;
        float: none;
        color: #bfd0d9;
        font-weight: bold;
        list-style: none;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
    }

    DIV#footer UL.menu LI A:link,
    DIV#footer UL.menu LI A:visited {
        color: #bfd0d9;
    }

    DIV#footer UL.menu LI A:hover {
        color: white;
    }

    DIV#footer DIV#legal {
        color: white;
        float: left;
        clear: left;
        width: 50%;
    }

    DIV#footer A:link,
    DIV#footer A:visited {
        color: white;
        text-decoration: underline;
        border-bottom: none;
    }

    DIV#footer DIV#copyright,
    DIV#footer DIV#sub {
        clear: both;
        padding: 0px 0px 20px 0px;
        color: #bfd0d9;
        font-size: 0.7rem;
        line-height: 1rem;
    }

    A.SadcLogo {
        height: 40px;
        width: 70px;
    }

    A.SadcLogo,
    A.SadcLink {
        /* float: left;
        display: block; */
        display: block;
        margin: auto;
    }

    A.SadcLink {
        font-size: 12px;
        padding-top: 7px;
        padding-left: 10px;
    }

    DIV#footer A.SadcLink:link,
    DIV#footer A.SadcLink:visited {
        font-weight: normal;
        text-decoration: none;
    }

    HTML[lang="en"] A.SadcLogo {
        background: url('https://www.banquelaurentienne.ca/en/images/sadc_badge.png') 0px center/70px no-repeat;
    }

    @media (min-width:320px)  { 
        /* smartphones, iPhone, portrait 480x320 phones */ 
        
        
        DIV.page {
            width: 540px;
            min-height: 960px;
        }

        DIV#body>DIV>DIV>DIV h3,p {
            margin: 5% 15% 0% 15%;
    
        }
         DIV#body>DIV>DIV>DIV h3 {
            font-size: 30px;
        }

        DIV.centSoixanteQuinze {
            display: none;
        }

        DIV.mCentSoixanteQuinze {
            display: none;
            height: 60px;
            width: 140px;
            float: right;
            clear: right;
            margin-right: 2.5rem;
            margin-top: -0.75rem;
            cursor: pointer;
        }

        html[lang='en'] DIV.mCentSoixanteQuinze {
            background: url('https://www.banquelaurentienne.ca/en/images/175YearsStrong_banner_133x57.jpg') 0px 0px no-repeat white;
        }

        DIV.menu.burger {
            background: url('https://www.banquelaurentienne.ca/images/burger_menu.png') 0 0/40px no-repeat;
            display: block;
            width: 30px;
            height: 30px;
            float: right;
            cursor: pointer;
            margin-top: 10px;
        }

        DIV#header DIV.menus {
            display: none;
        }

        html[lang='en'] DIV#body DIV.msg.info {
            background: url('https://www.banquelaurentienne.ca/images/information.png') 20px center no-repeat #004370;
        }

        UL.menu li {
            display: list-item;
            float: none;
            list-style: none;
            padding-left: 0px;
            padding-bottom: 20px;
            clear: both;
        }

        DIV#body>DIV {
            height: auto;
        }

        DIV#body>DIV#intro {
            background-color: #ffac00;
            padding: 10% 10% 10% 10%;
        }
    
        DIV#body>DIV#join {
            background-color: white;
            padding: 5% 20% 5% 20%;
        }

        DIV#body>DIV.job-container>DIV.row{
            height: 40vh;
            width: 100%;
        }
    
        DIV#body>DIV#socials {
            height: 23vh;
        }

        DIV#body DIV#a>DIV,
        html[lang="en"] DIV#body DIV#a>DIV {
            height: auto;
        }

        DIV#body DIV#a>DIV,
        DIV#body DIV#a>DIV.pic {
            width: 100%;
            float: none;
            clear: both;
        }

        DIV#header UL.menu.lang {
            clear: both;
            float: none;
            padding-top: 50px;
            display: block;
            height: 50px;
        }

        DIV#header UL.menu.lang:before {
            content: ' ';
            clear: both;
            display: block;
        }

        UL.menu.lang {
            clear: both;
            padding-top: 50px;
        }

        UL.menu.lang li {
            float: left;
            clear: none;
            display: block;
            padding: 0px;
            line-height: 200px;
        }

        UL.menu ul {
            position: relative;
            display: block;
            padding-bottom: 0px;
            padding-left: 1em;
            line-height: 2em;
            margin-left: 0px;
        }

        UL.menu ul li {
            display: list-item;
            list-style: none;
            padding: 0px;
            width: auto;
        }

        DIV#body>DIV,
        DIV#footer UL.menu,
        DIV#header UL.menu,
        DIV#footer DIV#legal {
            width: 100%;
        }

        DIV#header UL.menu {
            height: 250px;
        }

        DIV#footer UL.menu {
            margin-left: 0px;
            padding-top: 20px;
            float: none;
            clear: both;
        }

        DIV#footer UL.menu.legal {
            margin-left: 0px;
            max-width: 500px;
        }

        html[lang="en"] DIV#body DIV#a>DIV.pic {
            background-position: 0px 0px;
            background-size: 100%;
            height: 340px;
        }

        html[lang="en"] DIV#body DIV#a>DIV.pic {
            background-image: url('https://www.banquelaurentienne.ca/en/images/mobile_photo_a_v10.png');
        }

        DIV#body DIV DIV.pic {
            height: 310px;
        }

        DIV#body DIV#b DIV.pic,
        DIV#body DIV#c DIV.pic,
        DIV#body DIV#d DIV.pic {
            background-size: contain;
        }

        DIV#footer {
            min-height: 300px;
        }

        html[lang="en"] DIV#footer {
            min-height: 290px;
        }
    }

    @media (min-width:481px)  { 
        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */  
    }
    @media (min-width:641px)  { 
        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
        DIV.page {
            width: 100%;
            min-height: 960px;
        }
        DIV#body>DIV.job-container>DIV.row{
            height: 35vh;
            width: 100%;
         }
         DIV#body>DIV>DIV>DIV h3,p {
            margin: 20% 15% 0% 15%;
        }
        DIV#body>DIV#socials {
            height: 15vh;
        }
    }
    @media (min-width:961px)  { 
        /* tablet, landscape iPad, lo-res laptops ands desktops */ 
       
    }

    @media screen and (min-width: 1080px) {
            
        DIV#body>DIV.job-container>DIV.row{
            height: 80vh;
            width: 100%;
            }
            
        DIV#body>DIV#socials {
            height: 35vh;
        }


        DIV#header DIV.menus {
            display: inline-block;
            width: 819px;
        }

        .logo {
            width: 140px;
            height: 50px;
            display: inline-block;
        }

        html[lang="en"] .logo {
            background: url("https://www.banquelaurentienne.ca/en/images/logo_blcgf.png") 0 0/140px no-repeat;
        }

        UL.menu {
            margin: 0px;
            padding: 0px;
        }

        DIV#header UL.menu {
            display: inline-block;
            height: 50px;
            width: auto;
            
        }
        DIV#header UL.menu.lang {
            float: right;
            padding-top: 0px;
            display: inline-block;
            height: 50px;
            clear: none;
        }

        UL.menu li {
            display: block;
            margin: 0px;
            float: left;
            padding-left: 1em;
            padding-top: 15px;
            clear: none;
        }

        UL.menu.lang {
            /* margin: 0px;
            padding: 0px;
            display: block;
            height: 50px;
            float: right; */

                /* clear: both; */
            float: right;
            /* padding-top: 50px; */
            display: inline-block;
            height: 50px;
        }

        UL.menu.lang li:first-child:after {
            content: '|';
            width: 1em;
            height: 1em;
            padding: 0px 5px;
            margin-top: -2px;
            color: #004370;
            font-weight: bold;
        }

        UL.menu.lang li {
            padding: 15px 0px;
            color: #004370;
            text-transform: uppercase;
            line-height: 50px;
        }

        UL.menu.lang li.active {
            font-weight: bold;
        }

        DIV.menu.burger {
            display: none;
        }

        ul.menu li.parent a:hover+ul {
            display: block;
        }

        li.parent>a:after {
            content: ' \25bc';
        }

        ul.menu ul:hover {
            display: block;
        }

        ul.menu ul {
            position: fixed;
            padding-left: 0px;
            display: none;
            background-color: white;
            padding-bottom: 1em;
            margin-left: -1em;
            margin-top: 4px;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            ul.menu ul {
                margin-top: 0px;
            }
        }

        ul.menu ul li {
            display: block;
            float: none;
            width: 300px;
            margin-left: 0px;
        }

        ul.menu ul li a:link,
        ul.menu ul li a:visited,
        ul.menu ul li a:hover {
            border-bottom: none;
        }

        /* footer menu */

        DIV#footer UL.menu.legal {
            /* padding-top: 20px; */
            /* clear: both; */
            /* float: none;/ */
            margin-left: 0px;
            /* width: 600px; */
            margin: auto;
    
        }
    }



    /*! end @import */
}

/*! CSS Used fontfaces */
@font-face {
    font-family: HelveticaNowText-Regular;
    src: url("https://www.banquelaurentienne.ca/fonts/39F84B_0_0.eot");
    src: url("https://www.banquelaurentienne.ca/fonts/39F84B_0_0.eot#iefix") format('embedded-opentype'), url("https://www.banquelaurentienne.ca/fonts/39F84B_0_0.woff2") format('woff2'), url("https://www.banquelaurentienne.ca/fonts/39F84B_0_0.woff") format('woff'), url("https://www.banquelaurentienne.ca/fonts/39F84B_0_0.ttf") format('truetype');
}

@font-face {
    font-family: HelveticaNowText-Bold;
    src: url("https://www.banquelaurentienne.ca/fonts/39F84B_1_0.eot");
    src: url("https://www.banquelaurentienne.ca/fonts/39F84B_1_0.eot#iefix") format('embedded-opentype'), url("https://www.banquelaurentienne.ca/fonts/39F84B_1_0.woff2") format('woff2'), url("https://www.banquelaurentienne.ca/fonts/39F84B_1_0.woff") format('woff'), url("https://www.banquelaurentienne.ca/fonts/39F84B_1_0.ttf") format('truetype');
}